In [2]:
a=10
b=20
M=a*b

print(M)

200

In [3]:
x,y=4,3
temp=x
x=y
y=temp

print("x =",x,"y =",y)

x = 3 y = 4

In [4]:
x=1
y=2
x,y = y,x

print("x =",x)
print("y =",y)

x = 2
y = 1

In [5]:
x = 10
x = "abcd"
print(x)

abcd

In [6]:
x = "abcd"
type(x)

x = 10
type(x)

int

In [7]:
a = 10
id1 = id(a)
b = a + 2-2
id2 = id(b)

print(id1)
print(id2)

2380225577488
2380225577488

In [8]:
a = 10
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)
print(a % b)
print(17//10)
print(17/10)

15
5
50
2.0
2
100000
0
1
1.7

In [1]:
x=4
y=5
x = x + y
y = x - y
x = x - y

x, y

(5, 4)

# Assignments

In [ ]:
P=int(input())
T=int(input())
R=int(input())
b=(P*T*R)/100
print("Simple Interest is: ",int(b))

In [ ]:
a = int(input())
b = int(input())
c = a+b
print(c)

In [12]:
a=int(input())
b=int(input())
c=int(input())
d=(a+b+c)/3
print("Average: ",float(d))

1
1
1
Average:  1.0

In [13]:
x = int(input())
n = int(input())
a = x**n
print(a)

1
1
1

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=(c-b)or (b-a)
print(d)

In [15]:
x1=int(input())
y1=int(input())
x2=int(input())
y2=int(input())
a=(x2-x1)*(y2-y1)
print(a)

1
1
3
3
4