In [20]:
import pandas as pd
f=pd.read_csv('f500.csv')
print(f)

     Rank               Title                           Website  Employees  \
0       1             Walmart            http://www.walmart.com    2300000
1       2  Berkshire Hathaway  http://www.berkshirehathaway.com     367700
2       3               Apple              http://www.apple.com     116000
3       4         Exxon Mobil         http://www.exxonmobil.com      72700
4       5            McKesson           http://www.mckesson.com      68000
..    ...                 ...                               ...        ...
495   496       Michaels Cos.           http://www.michaels.com      31000
496   497       Toll Brothers       http://www.tollbrothers.com       4200
497   498               Yahoo              http://www.yahoo.com       8500
498   499       Vistra Energy       http://www.vistraenergy.com       4431
499   500      ABM Industries                http://www.abm.com     110000

                         Sector                                  Industry  \
0                     Retailing                     General Merchandisers
1                    Financials  Insurance: Property and Casualty (Stock)
2                    Technology               Computers, Office Equipment
3                        Energy                        Petroleum Refining
4                   Wholesalers                  Wholesalers: Health Care
..                          ...                                       ...
495                   Retailing                Specialty Retailers: Other
496  Engineering & Construction                              Homebuilders
497                  Technology           Internet Services and Retailing
498                      Energy                                    Energy
499           Business Services          Diversified Outsourcing Services

            Hqlocation                  Hqaddr         Hqcity Hqstate  ...  \
0      Bentonville, AR     702 S.W. Eighth St.    Bentonville      AR  ...
1            Omaha, NE         3555 Farnam St.          Omaha      NE  ...
2        Cupertino, CA         1 Infinite Loop      Cupertino      CA  ...
3           Irving, TX  5959 Las Colinas Blvd.         Irving      TX  ...
4    San Francisco, CA              1 Post St.  San Francisco      CA  ...
..                 ...                     ...            ...     ...  ...
495         Irving, TX    8000 Bent Branch Dr.         Irving      TX  ...
496        Horsham, PA       250 Gibraltar Rd.        Horsham      PA  ...
497      Sunnyvale, CA          701 First Ave.      Sunnyvale      CA  ...
498         Dallas, TX          1601 Bryan St.         Dallas      TX  ...
499       New York, NY         1 Liberty Plaza       New York      NY  ...

                                         Ceo-title  \
0    President, Chief Executive Officer & Director
1               Chairman & Chief Executive Officer
2               Chief Executive Officer & Director
3               Chairman & Chief Executive Officer
4    Chairman, President & Chief Executive Officer
..                                             ...
495             Chairman & Chief Executive Officer
496             Chief Executive Officer & Director
497  President, Chief Executive Officer & Director
498  President, Chief Executive Officer & Director
499  President, Chief Executive Officer & Director

                                        Address Ticker  \
0    702 S.W. Eighth St., Bentonville, AR 72716    WMT
1              3555 Farnam St., Omaha, NE 68131   BRKA
2          1 Infinite Loop, Cupertino, CA 95014   AAPL
3      5959 Las Colinas Blvd., Irving, TX 75039    XOM
4           1 Post St., San Francisco, CA 94104    MCK
..                                          ...    ...
495      8000 Bent Branch Dr., Irving, TX 75063    MIK
496        250 Gibraltar Rd., Horsham, PA 19044    TOL
497         701 First Ave., Sunnyvale, CA 94089   YHOO
498            1601 Bryan St., Dallas, TX 75201    VST
499         1 Liberty Plaza, New York, NY 10006    ABM

                         Fullname Revenues Revchange  Profits  Prftchange  \
0           Wal-Mart Stores, Inc.   485873       0.8  13643.0        -7.2
1         Berkshire Hathaway Inc.   223604       6.1  24074.0           0
2                     Apple, Inc.   215639      -7.7  45687.0       -14.4
3         Exxon Mobil Corporation   205004     -16.7   7840.0       -51.5
4            McKesson Corporation   192487       6.2   2258.0          53
..                            ...      ...       ...      ...         ...
495  The Michaels Companies, Inc.     5197       5.8    378.2         4.2
496           Toll Brothers, Inc.     5170      23.9    382.1         5.2
497                   Yahoo! Inc.     5169       4.0   -214.3         5.2
498           Vistra Energy Corp.     5164       4.0   -214.3         5.2
499   ABM Industries Incorporated     5145      -2.8     57.2         -25

     Assets  Totshequity
0    198825      77798.0
1    620854     283001.0
2    321686     128249.0
3    330314     167325.0
4     56563       8924.0
..      ...          ...
495    2148      -1698.0
496    9737       4229.0
497   48083      31049.0
498   15167       6597.0
499    2281        974.0

[500 rows x 23 columns]

In [5]:
import pandas as pd
file=pd.read_csv('f500.csv')
print(file.shape)

(500, 23)

In [2]:
import pandas as pd
pd.read_csv('iris.csv'

SyntaxError: '(' was never closed (808381824.py, line 2)

In [15]:
import pandas as p
f=p.read_csv('f500.csv', names=['Profits'], index_col=False)
print(f.describe())

       Profits
count      501
unique     498
top        306
freq         3

C:\Users\Juned Sultani\AppData\Local\Temp\ipykernel_10080\619265492.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  f=p.read_csv('f500.csv', names=['Profits'], index_col=False)

In [16]:
import pandas as pd   
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris.drop(0,inplace= True)
print(iris)

     5.1  3.5  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 5 columns]

In [18]:
import pandas as p
f=p.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
a=f.value_counts('variety')
print(a)

variety
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

In [21]:
df1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df1

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [24]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
print(df['age'].isna().sum())
print(data)

2
{'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'], 'age': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3], 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

In [26]:
import pandas as pd
a=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",header=None)
a.columns=['sl','sw','pl','pw','flower_type']

for n in ['Iris-setosa','Iris-versicolor','Iris-virginica']:
    f=a[a.flower_type==n]
    c=f.describe()
    c.loc['avg']=[sum(f.sl)/50.0,sum(f.sw)/50.0,sum(f.pl)/50.0,sum(f.pw)/50.0]
    
    for i in ['min','max','avg']:
        for j in ['sl','sw','pl','pw']:
            print('%.2f'%c[j][i],end=" ")
        print(n)

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [27]:
import pandas as pd
f500 = pd.read_csv('f500.csv')
print(f500.iloc[:5, :3])

   Rank               Title                           Website
0     1             Walmart            http://www.walmart.com
1     2  Berkshire Hathaway  http://www.berkshirehathaway.com
2     3               Apple              http://www.apple.com
3     4         Exxon Mobil         http://www.exxonmobil.com
4     5            McKesson           http://www.mckesson.com

In [3]:
import pandas as p
f=p.read_csv('f500.csv', index_col=False)
print(f['Address'].value_counts()[0:5])

400 Atlantic St., Stamford, CT 06901             2
1211 Ave. of the Americas, New York, NY 10036    2
601 Riverside Ave., Jacksonville, FL 32204       2
390 Park Ave., New York, NY 10022                2
767 Fifth Ave., New York, NY 10153               2
Name: Address, dtype: int64

In [32]:
import pandas as pd
iris = pd.read_csv('https://files.codingninjas.in/iris-8116.csv?_ga=2.61329509.831245235.1613828238-1328931189.1612322495')
a = iris[(iris['sepal.length'] > 1.5) & (iris['variety'] == 'Iris-virginica')]
x=a.values
for i in range(a.shape[0]):
    for j in range(a.shape[1]):
        print(x[i][j],end=" ")
    print()

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [33]:
import pandas as pd
column_name=['SeapalLength','SepalWidth','PetalLength','PetalWidth','Species']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
for i in iris['Species'].value_counts():
    print(i,end=" ")

50 50 50